.listItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.listItem:hover{
    background-color: dodgerblue;
    opacity: 0.80;
}
.listItem:hover *{
    color: white;
    text-decoration-color: white;
}
.userContainer {
    flex: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 16pt;
    padding-left: 16pt;

}
.userName {
    font-size: 20pt;
    color: black;
    font-weight: 100;

}
.userDescription {
    font-size: 12.8pt;
    color: black;
}
.prCount {
    flex: 35%;
    padding-right: 16pt;
    padding-left: 2pt;
    color: black;
}